.body {
    background-color: black;
    color: white;
    min-width: 540px !important;
    max-width: 540px !important;
    min-height: 900px !important;
}

.display {
    padding-top: 180px;
    padding-right: 30px;
    font-size: 100px;
    font-weight: lighter;
}
.row {
    width: 500px;
    margin: 10px auto !important;
}


button {
    height: 100px;
    border-radius: 100% !important;
    margin: 0px auto !important;
    color: white !important;
    font-size: 35px !important;
    font-weight: bold !important;
    border-color: black !important;
}

.btn-outline-warning {
    background-color: orange !important;
}

.btn-outline-success {
    background-color: gray !important;
}

.btn-outline-secondary {
    background-color:  rgb(37, 36, 34) !important;
}

.btn-zero {
    border-radius: 50px !important;
}